################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVC-CodeFirst-Login/v15/Server/sqlite3
